<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-AirpushAdmob"
    version="1.0.0">
    <name>Airpush Admob</name>
    <description>Cordova plugin Airpush Admob</description>
    <keywords>cordova,device</keywords>

    <js-module src="www/cordova-plugin-AirpushAdmob.js" name="device">
        <clobbers target="CDVAirpushAdmob" />
    </js-module>

    <!-- android -->
    <platform name="android">
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  		</config-file>

      <config-file target="AndroidManifest.xml" parent="./application">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            <activity android:exported="false" android:name="com.yrkfgo.assxqx4.AdActivity"
                      android:configChanges="orientation|screenSize"
                      android:theme="@android:style/Theme.Translucent" />
            <activity android:name="com.yrkfgo.assxqx4.BrowserActivity"
                      android:configChanges="orientation|screenSize" />
            <service  android:name="com.yrkfgo.assxqx4.LService" android:exported="false"></service>
            <receiver android:name="com.yrkfgo.assxqx4.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
        </receiver>
      </config-file>

        <source-file src="libs/com-yrkfgo-assxqx4.jar" target-dir="libs/"/>
        <resource-file src="libs/com-yrkfgo-assxqx4.jar" target="libs/com-yrkfgo-assxqx4.jar" />
       <framework src="libs/cordova-plugin-AirpushAdmob.gradle" custom="true" type="gradleReference" />
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="AirpushPlugin" >
             <param  name="android-package" value="com.yrkfgo.assxqx4.AirpushPlugin" />
          </feature>
        </config-file>
    </platform>
</plugin>
